/* Mobile view */

.btn-svg {
  display: contents;
}

.cookies {
  background: transparent;
  border: none;
  bottom: 14px;
  cursor: pointer;
  font-family: Inter;
  font-size: 9px;
  font-weight: 300;
  left: 10px;
  position: fixed;
  text-decoration: underline;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}
