/* Mobile view */

.btn-sharesvg {
  background-color: transparent;
  border-radius: 60%;
  border: none;
  color: rgba(255, 255, 255, 0.5); /* 50% opacity */
  height: 1.6rem;
  justify-self: end;
  margin: 0 8px;
  transition: background-color 150ms ease;
  width: 1.6rem;
}

.btn-sharesvg:hover {
  background-color: #ebebeb30;
  color: white;
  cursor: pointer;
}

.icon {
  background-color: inherit;
  border-radius: 12px;
  filter: invert(100%) sepia(37%) saturate(103%) hue-rotate(258deg)
    brightness(113%) contrast(300%);
  height: 48px;
  justify-self: start;
  width: 48px;
}

.link {
  align-items: center;
  color: white;
  display: grid;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  grid-template: 100% / 16% 68% 16%;
  height: 100%;
  justify-items: center;
  padding-left: 7px;
  padding-right: 0px;
  text-decoration: none;
}

.link-item {
  background-color: #222;
  border-radius: 14px;
  border: 1px solid #222;
  padding: 5px 0;
  width: 100%;
}

.link-item:hover {
  transform: scale(1.02);
}

.link-item,
.social-item {
  margin: 0 4px 16px 4px;
}

.links-grid {
  margin-top: 32px;
  width: 96%;
}

.social-item {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 16px 0 10px;
}

.social-item a:hover {
  transform: scale(1.075);
}

.svg {
  fill: #ffffff;
  height: 32px;
  width: 32px;
}

/*  */
@media screen and (min-width: 601px) {
  .links-grid {
    width: 100%;
  }
}
