/* Mobile view */

.bio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 7px;
  margin: 7px 0 0 0;
  text-align: center;
}

.bio,
.username {
  font-family: 'Inter', sans-serif;
}

.btn-follow {
  align-content: center;
  align-items: center;
  border-radius: 20px;
  color: #0a0b0d;
  display: grid;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  grid-template-columns: 1fr 2fr;
  height: 40px;
  padding: 10px 16px;
}

.btn-follow,
.btn-share {
  border: 1px solid #e2e2e2;
  transition: background-color 150ms ease;
}

.btn-follow,
.btn-share:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.btn-share {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.btn-share,
.image {
  border-radius: 50%;
}

.icons-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 110%;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px 0 30px 0;
}

.image {
  height: 96px;
  margin-bottom: 19px;
  width: 96px;
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
