/* Mobile view */

.bio {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 7px;
  margin: 7px 0 0 0;
  text-align: center;
}

.bio,
.username {
  font-family: 'Inter', sans-serif;
}

.btn-follow,
.btn-share {
  color: #fff;
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0.35);
  border: none;
}

.btn-share {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-share,
.btn-follow,
.image,
.tinyimage {
  border-radius: 50%;
}

.icons-header {
  align-items: center;
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 7px;
  width: 60%;
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px 0 30px 0;
}

.image {
  height: 96px;
  margin-bottom: 19px;
  margin-top: 41px;
  width: 96px;
}

.tinyimage {
  display: none;
  height: 44px;
  width: 44px;
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

/* media query pc */
@media screen and (min-width: 1024px) {
  .icons-header {
    top: 15px;
    width: 50%;
  }
}

@media screen and (min-width: 1100px) {
  .icons-header {
    width: 48%;
  }
}

@media screen and (min-width: 1300px) {
  .icons-header {
    width: 37%;
  }
}
