/* Mobile view */

.bio {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 7px;
  margin: 7px 0 0 0;
  text-align: center;
}

.bio,
.username {
  font-family: 'Inter', sans-serif;
}

.btn-follow {
  align-content: center;
  align-items: center;
  border-radius: 20px;
  color: #0a0b0d;
  display: grid;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  grid-template-columns: 1fr 2fr;
  height: 40px;
  padding: 10px 16px;
}

.btn-follow,
.btn-share {
  justify-items: center;
  border: 1px solid #e2e2e2;
  transition: background-color 150ms ease;
}

.btn-follow,
.btn-share:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.btn-share {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.btn-share,
.image,
.tinyimage {
  border-radius: 50%;
}

.icons-header {
  align-items: center;
  padding: 13px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 7px;
  width: 90%;
}

/* Scroll classes |v */
.icons-header-scroll {
  backdrop-filter: blur(10px);
  background-color: rgb(255 255 255 / 50%);
  border-radius: 72px;
  border: 1px solid #ebeef1;
}

.icons-header-scroll button {
  background-color: black;
  border: 1px solid black;
}

.icons-header-scroll .btn-follow {
  grid-template-columns: 100% 0%;
}

.icons-header-scroll .btn-follow p {
  display: none;
}

.icons-header-scroll .btn-follow svg {
  fill: white;
}

.icons-header-scroll .tinyimage {
  display: block;
}

.icons-header-scroll svg {
  stroke: white;
}

/* Scroll classes |^ */

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px 0 30px 0;
}

.image {
  height: 96px;
  margin-bottom: 19px;
  margin-top: 41px;
  width: 96px;
}

.tinyimage {
  display: none;
  height: 44px;
  width: 44px;
}

.username {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

/* media query pc */
@media screen and (min-width: 1024px) {
  .icons-header {
    top: 15px;
    width: 75%;
  }
}

@media screen and (min-width: 1100px) {
  .icons-header {
    width: 65%;
  }
}

@media screen and (min-width: 1300px) {
  .icons-header {
    width: 60%;
  }
}
