@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');
/*  */

.linktree {
    max-width: 580px;
    width: 100%;
}

.linktree, #root {
    margin: 0;
    padding: 0;
}

#root {
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(0, 0, 0);
}